{% extends "admin-1.html" %}

{% block title %}VaxWise | Nurses{% endblock %}

{% block content %}
<div class="container content">
    <div class="col-xl-12" style="display: flex; justify-content: end;">
        <button class="confirm-btn" data-toggle="modal" data-target="#add_nurse_modal"> Add Nurse </button>
    </div>
    <br>
    <div class="col-xl-12">
        <table class="col-md-10 table-hover table-striped">
            <thead>
                <tr>
                    <th colspan="5" style="background-color: #05668d;">
                        <h4>Nurses List</h4>
                    </th>
                </tr>
                <tr>
                    <th>Nurse full name</th>
                    <th>Hospital name</th>
                    <th colspan="9">Actions</th>
                </tr>
            </thead>
            <tbody style="background-color: #bfdbf7;">
                {% for nurse in nurses %}
                <tr>
                    <td>{{ nurse.first_name }} {{ nurse.last_name}}</td>
                    {% for hospital in hospitals %}
                    {% if hospital.id == nurse.hospital_id %}
                    <td>{{ hospital.name }}</td>
                    {% endif %}
                    {% endfor %}
                    <td><a style="cursor:context-menu;" onclick="showUpdateNurseModal('{{ nurse.id }}')"><i class="fas fa-sync" title="Update" style="padding: 10px 0px;"></i></a></td>
                    <td><a style="cursor:context-menu;" onclick="showTransferNurseModal('{{ nurse.id }}')"><i class="fas fa-exchange-alt" title="Transfer"></i></a></td>
                    <td><a style="cursor:context-menu;" onclick="showDeleteNurseModal('{{ nurse.id }}')"><i class="fa fa-times-circle" aria-hidden="true" title="Delete"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="add_nurse_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Nurse</h4>
            </div>
            <div class="modal-body">
                <form method="POST" onsubmit="addNurse(event, '/nurses')">
                    <div class="form-group">
                        <label for="firstName-1">First name</label>
                        <input type="text" class="form-control" id="firstName-1" name="firstName" placeholder="First name" />
                    </div>
                    <div class="form-group">
                        <label for="lastName-1">Last name</label>
                        <input type="text" class="form-control" id="lastName-1" name="lastName" placeholder="Last name" />
                    </div>
                    <div class="form-group">
                        <label for="email-1">Email</label>
                        <input type="email" class="form-control" id="email-1" name="email"  placeholder="Email address"/>
                    </div>
                    <div class="form-group">
                        <label for="hospital-1">Hospital</label>
                        <select class="container" id="hospital-1" name="hospital" style="padding: 5px;">
                            <option value="0" disabled selected>New Hospital</option>
                            {% for hospital in hospitals %}
                            <option value="{{ hospital.id }}">{{ hospital.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password-1">Password</label>
                        <input type="password" class="form-control" id="password-1" name="password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label for="password2-1">Password (Confirm)</label>
                        <input type="password" class="form-control" id="password2-1" name="password2" placeholder="Confirm password" />
                    </div>
                    <p  id='error_message-1' style="color: red; text-align: center;">&nbsp;</p>
                    <div class="d-flex justify-content-center"> <!-- Flexbox container for centering -->
                        <button type="submit" class="confirm-btn placeholder">Add Nurse</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel-btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="modal fade" id="update_nurse_modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Nurse</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="submitUpdateNurse(event, '/nurses')">
                        <div class="form-group">
                            <label for="firstName-2">First name</label>
                            <input type="text" class="form-control" id="firstName-2" name="firstName" />
                        </div>
                        <div class="form-group">
                            <label for="lastName-2">Last name</label>
                            <input type="text" class="form-control" id="lastName-2" name="lastName" />
                        </div>
                        <div class="form-group">
                            <label for="email-2">Email</label>
                            <input type="text" class="form-control" id="email-2" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="hospital-2">Hospital</label>
                            <select class="container" id="hospital-2" name="hospital"
                                style="padding: 5px;">
                                <option value="0" disabled selected>New hospital</option>
                                {% for hospital in hospitals %}
                                <option value="{{ hospital.id }}">{{ hospital.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password-2">Password</label>
                            <input type="password" class="form-control" id="password-2" name="password"  placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <label for="password2-2">Password (Confirm)</label>
                            <input type="password" class="form-control" id="password2-2" name="password2" placeholder="Confirm password" />
                        </div>
                        <p  id='error_message-2' style="color: red; text-align: center;">&nbsp;</p>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="confirm-btn placeholder">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="cancel-btn" data-dismiss="modal" onclick="fetchNurses('/nurses')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="delete_nurse_modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="nurse_fullname" class="modal-title" style="color: #FF5A5F;"></h4>
                    <br />
                </div>
                <div class="modal-footer">
                    <button class="delete-btn" onclick="submitDeleteNurse()">Yes</button>
                    <button class="cancel-btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="modal fade" id="transfer_nurse_modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Transfer Nurse</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="submitTransferNurse(event, '/nurses')">
                        <div class="form-group">
                            <h6 style="display: inline-block; color: #ebf2fa;">First name: </h6>
                            <p id="firstName-3" style="display: inline-block; color: #ebf2fa;"> </p>
                        </div>
                        <div class="form-group">
                            <h6 style="display: inline-block; color: #ebf2fa;">Last name: </h6>
                            <p id="lastName-3" style="display: inline-block; color: #ebf2fa;"> </p>
                        </div>
                        <div class="form-group">
                            <h6 style="display: inline-block; color: #ebf2fa;">Presently employed at: </h6>
                            <p id="currentHospital-3" style="display: inline-block; color: #ebf2fa;"> </p>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="hospital-1" > <h6>Select the new hospital</h6></label>
                            <select class="container" id="hospital-4" name="hospital"
                                style="padding: 5px;">
                                <option value="0" disabled selected>New hospital</option>
                                {% for hospital in hospitals %}
                                <option value="{{ hospital.id }}">{{ hospital.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <p  id='error_message-3' style="color: red; text-align: center;">&nbsp;</p>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="confirm-btn">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="cancel-btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="../static/scripts/admin-3.js"></script>
{% endblock %}
