<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}VaxWise | Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='shortcut icon' href="../static/images/icon.png" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/table.css" />
    <link rel="stylesheet" href="../static/styles/sign-in_sign-up.css" />
    <link rel="stylesheet" href="../static/styles/home.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js?"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- Header -->
    <header class="container-fluid home_navbar">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand">
                <img src="../static/images/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <i class="fas fa-bars menu-icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="home" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vaccine" href="/user/profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="vaccine" href="/user/contact">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="logout" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% block content %}
    <div class="container">
        <div>
            <br />
            <br />
            <div class="container" style="display: flex; justify-content: end;">

                <!-- Button to Open the Modal -->
                <button class="add-btn" data-toggle="modal" data-target="#add_child">
                    Add Child
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        {% if user.children|length == 0 %}
        <div class="container welcome col-sm-12 col-md-6">
            <h4><i class="fas fa-info-circle fa-2x"></i></h4>
            <h4>You currently don't have any associated children.</h4>
            <h4>Click on the button at the top to add them.</h4>
        </div>
        {% endif %}
        {% for child in user.children %}
        <div class="container div children col-sm-12 col-md-6">
            <i class="far fa-user fa-2x rounded-circle"></i>
            <div style="display: inline-block;  padding: 25px 0px;">
                <h5 style="color: #000;">Child name : {{ child.first_name }}</h5>
                <p style="color: #000;">
                  <i>
                    Born on {{ child.birthdate.strftime('%d') | ordinal }} {{child.birthdate.strftime('%B %Y') }}
                  </i>
                </p>
            </div>
            <div>
                <div class="child-doses">
                    {% for dose in doses %}
                    {% if dose in child.doses %}
                    <span class="vaccine-done" onclick="showVaccineDescription('{{dose.vaccine_id}}')">{{ dose.denomination }}</span>
                    {% endif %}
		    {% endfor %}
		    {% for dose in doses %}
		    {% if dose not in child.doses %}
                    <span class="vaccine-n-done" onclick="showVaccineDescription('{{dose.vaccine_id}}')">{{ dose.denomination }}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div style="display: flex; align-items: center; height: 70px; padding: 0px 25px;">
                <button class="update-delete-btn" title="edit" onclick="showUpdateChildModal('{{ child.id }}')">
                    <i class="fas fa-pencil-alt"></i></span>
                </button>
                <button class="update-delete-btn" title="delete" onclick="showDeleteChildModal('{{ child.id }}')">
                    <i class="fas fa-trash-alt"></i></span>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Add Child Modal -->
    <div class="modal fade" id="add_child">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Child</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add_child_firstName">First name</label>
                        <input type="text" class="form-control" id="add_child_firstName" placeholder="First name" />
                    </div>
                    <div class="form-group">
                        <label for="add_child_birthday">Birth date</label>
                        <input type="date" class="form-control" id="add_child_birthday" placeholder="Birth date" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <p id='error_message-1' style="text-align: center;">&nbsp;</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="confirm-btn" onclick="submitAddChild('{{ user.id }}', '{{ user.last_name }}')">
                          Add Child
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="cancel-btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Child Modal -->
    <div class="modal fade" id="update_child_model">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="update_child_firstName">First name</label>
                        <input type="text" class="form-control" id="update_child_firstName" />
                    </div>
                    <div class="form-group">
                        <label for="update_child_birthday">Birth date</label>
                        <input type="date" class="form-control" id="update_child_birthday" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <p id='error_message-2' style="text-align: center;">&nbsp;</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="confirm-btn" onclick="submitUpdateChild()">
                          Save
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="cancel-btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Child Modal -->
    <div class="modal fade" id="delete_child_model">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="delete_child_fullName" class="modal-title" style="color: #FF5A5F;">Delete </h4>
                </div>
                <div class="modal-footer">
                    <button class="delete-btn" onclick="submitDeleteChild()">Yes</button>
                    <button class="cancel-btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Vaccine Description  Modal -->
    <div class="modal fade" id="vaccine_description_model">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="vaccine_denomination"></h4>
                </div>
                <div class="modal-body">
                    <p id="vaccine_description" class="modal-title"> </p>
                    <hr />
                    <h6>Vaccination schedule :</h5>
                    <ul id="dose_description" style="list-style: none;"></ul>
                </div>
                <div class="modal-footer">
                    <button class="cancel-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div style="width:300px; padding: 30px; text-align: justify; display: inline-block; position: absolute; right: 10px; bottom: 90px; border-radius: 10px; background-color: #427aa1;">
        <span style="position: absolute;; top: 5px; left: 15px; padding: 3px 10px; border: 1px solid #ebf2fa; cursor: pointer;" onclick="this.parentElement.style.display = 'none'">x</span><br />
        <h6 style="color: #ebf2fa;">At the time of a vaccination an email will be sent to you, detailing the child's information and the scheduled vaccination at most two days before.</h6>
    </div>
    {% endblock %}
    <footer>
        VaxWise - 2023 | <a href="https://github.com/RifkiAhmed" target="_blank"><i class="fab fa-github"></i> GitHub</a>
    </footer>
    {% block js %}
    <script src="../static/scripts/user-1.js"></script>
    {% endblock %}
</body>

</html>
