<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>VaxWise | Vaccination Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='shortcut icon' href="../static/images/icon.png" />
    <link rel="stylesheet" href="../static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/table.css" />
    <link rel="stylesheet" href="../static/styles/home.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
</head>

<body class="home">

    <header class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../static/images/logo.png" alt="Logo">
        </a>
    </header>
    <div class="container-fluid content">

        <div class="container col-md-12 table-responsive content">
            <!-- <h1>Vaccination schedule 2023 - Morocco</h1> -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="vertical-align: middle;" class="tr0 middle">Age /<br>Vaccine against</th>
                        <th style="vertical-align: middle;" class="tr0 middle">24H</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Week 4</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Week 8</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Week 10</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Week 12</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Week 16</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Week 18</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Month 6</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Month 9</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Month 12</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Month 18</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Year 5</th>
                        <th style="vertical-align: middle;" class="tr0 middle">Year 11</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="vertical-align: middle;" class="tr1 middle" rowspan="2">Hepatitis B (HB)</td>
                        <td style="vertical-align: middle;" class="tr1 middle">HBn administered at birth</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;" class="tr1 middle">If dose not administered at birth</td>
                        <td style="vertical-align: middle;" class="tr1 middle">HB1</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;" class="middle tr2">BCG Tuberculosis</td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr2">BCG</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;" class="middle tr3">Polio (peros)</td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr3">VPO1</td>
                        <td style="vertical-align: middle;" class="middle tr3">VPO2</td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr3">VPO3</td>
                        <td style="vertical-align: middle;" class="middle tr3">VPO4</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr3">VPO5</td>
                        <td style="vertical-align: middle;" class="middle tr3">VPO6</td>
                        <td class="cellEmpty"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;" class="middle tr4">Diphtheria, Tetanus, Pertussis,
                            Hib, HB (Pentavalent vaccine)</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr4">Penta1</td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr4">Penta2</td>
                        <td style="vertical-align: middle;" class="middle tr4">Penta3</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;" class="middle tr5">Pneumococcal</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr5">PCV1</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr5">PCV2</td>
                        <td style="vertical-align: middle;" class="middle tr5">PCV3</td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr5">PCV4</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;" class="middle tr6">Rotavirus</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr6">Rota1</td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr6">Rota2</td>
                        <td style="vertical-align: middle;" class="middle tr6">Rota3</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;" class="middle tr7">Polio (inactivated)</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr7">VP1</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;" class="middle tr8">Measles and Rubella (MR)</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr8">MR1</td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr8">MR2</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;" class="middle tr9">Diphtheria, Tetanus, Pertussis (DTP)
                        </td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr9">DTP1</td>
                        <td style="vertical-align: middle;" class="middle tr9">DTP2</td>
                        <td class="cellEmpty"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;" class="middle tr10">Papillomavirus (HPV)</td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td class="cellEmpty"></td>
                        <td style="vertical-align: middle;" class="middle tr10">HPV 2doses</td>
                    </tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        VaxWise - 2023 | <a href="https://github.com/RifkiAhmed" target="_blank"><i class="fab fa-github"></i> GitHub</a>
    </footer>

</body>

</html>
